$primary-color-black: #152427;
$primary-color-black-green: #143c3c;
$secondery-color-light-green: #e2eddf;
$text-color-white: #fff;
$text-color-black-gray: #575d5e;
$text-color-light-gray: #7d8188;
$secondery-color-gray: #6a8383;
